.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
.col {
  display: flex;
  flex-direction: column;
}

@media (min-width: 700px) {
  .container {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 1000px) {
  .container-lg {
    display: flex;
  }
}
