/* -------------------------
  HEADER NAVIGATION 
--------------------------- */
.header .container {
  position: relative; /* for nav-toggle */
}
/* Mobile navigation */
.nav-toggle {
  position: absolute;
  inset-inline-end: 0;

  width: 3em;
  height: 3em;
  border: 0;
  border-radius: 50%;
  background-color: var(--light-blue);
  color: var(--white);
  cursor: pointer;
}
.nav-toggle:hover,
.nav-toggle:focus-visible {
  opacity: 0.75;
}
.hamburger {
  width: 50%;
  position: relative;
}
.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  height: 3px;
  margin: 0 auto;
  background-color: var(--white);
}
.hamburger::before,
.hamburger::after {
  content: "";
  width: 100%;
}
.hamburger::before {
  transform: translateY(-6px);
}
.hamburger::after {
  transform: translateY(3px);
}
/* Nav menu navigation */
.nav {
  width: 100%;
  visibility: hidden;
  height: 0;
  position: absolute;
}
/* Use for toggle class to show and hide the nav with JavaScript  */
.nav--visible {
  visibility: visible;
  height: auto;
  position: relative;
}
.nav__menu {
  text-align: center;
  padding-block: 1em;
}
.nav__item {
  margin-block: 1em;
}
.nav__link {
  font-family: var(--ff-heading);
  font-size: 18px;
  text-transform: uppercase;
  color: var(--white);
}
.nav__link:hover {
  opacity: 0.6;
}
/* -------------------------
  FOOTER NAVIGATION 
--------------------------- */
.footer-nav__menu {
  margin-block-end: 1.3em;
}
.footer-nav__menu li {
  margin-block-end: 1em;
}
.footer-nav__menu li a {
  color: var(--light-blue);
}
.footer-nav__menu li a:hover {
  opacity: 0.6;
}
/* -------------------------
  MEDIA QUERIES
--------------------------- */
@media (min-width: 700px) {
  .nav-toggle {
    display: none;
  }
  .nav {
    visibility: visible;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: auto;
  }
  .nav__menu {
    display: flex;
    align-items: center;
    padding-block: 0;
  }
  .nav__item {
    margin-block: 0;
    margin-inline-start: 2.5em;
  }
}
