h1,
h2,
h3 {
  font-family: var(--ff-heading);
  font-weight: bold;
}
p {
  line-height: 1.5;
}
/* titles */
.intro-title {
  font-size: 90px;
}

.section-title {
  font-size: 36px;
}
.footer-title {
  font-size: 24px;
}
.menu-title {
  font-size: 21px;
}
.nav-text {
  font-size: 16px;
}

/* text */
.text {
  font-size: 21px;
}
.intro-text {
  font-size: 24px;
}

/* cards */
.card-title {
  font-size: 30px;
}
.card-text {
  font-size: 18px;
}
